* {
  margin: 0;
  padding: 0;
}

.nav {
  height: 50px;
  background-color: gray;
}

.nav h2 {
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: left;
  color: black;
}

.nav ul li a {
  color: white;
  float: right;
  height: 50px;
  line-height: 50px;
  text-align: right;
  margin-left: 1rem;
}

.nav ul {
  overflow: hidden;
}

ul li {
  list-style-type: none;
}
